@charset "UTF-8";

.galeria {
    width: 90%;
    margin: auto;
    text-align: center;
}

.galeria img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.galeria select {
    padding: 6px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 2px;
}

.galeria img {
    width: 100%;
}

