@charset "UTF-8";

.galeria {
    width: 90%;
    margin: auto;
    text-align: center;
}

.galeria img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.galeria select {
    padding: 6px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 2px;
}
 
@media (max-width:600px){
    .galeria img { width: 75%; }
}

@media (min-width:600px){

    .galeria {
        width: 90%;
        margin: auto;
        text-align: left;
    }
    
    .galeria img { width: 30%; }

    .galeria select {
        margin: 60px 0 0 30px;
        padding: 6px;
        border: 1px solid white;
        background-color: black;
        color: white;
        border-radius: 2px;
    }
    
}

