@charset "UTF-8";

.content { width: 95%; }
.personagens { text-align: center; }
.personagens p { display: none; }

.personagens img{
    width: 49%;
    margin: auto;
    border: 2px solid gray;
}

.personagens img:hover {
    display: block;
    transition: all 500ms ease;
    width: 99%;
}
.personagens img:hover ~ p {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
}